<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerLayout">
    <footer>
        <a href="mailto: annay01794@gmail.com"><i style="margin-right: 20px; color: white" class="fa fa-envelope-o fa-2x"></i></a>
        <a href="https://github.com/NadudAn"><i style="margin-right: 20px; color: white" class="fa fa-github fa-2x"></i></a>
        <a href="https://ahma0.github.io/">
            <img src="https://user-images.githubusercontent.com/84761609/168517651-5e6b0fb2-ad4d-4c69-80e5-131b8d3a255a.png"></i>
        </a>
        <div class="id-container">
            <div class="id">made by <a href="https://github.com/ahma0" style="color: white;">@ahma0</a></div>
        </div>
    </footer>
</th:block>
</html>