<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
    <link rel="stylesheet" href="/meme/register.css"/>
    <link rel="stylesheet" href="/meme/button.css">
</head>
<th:block layout:fragment="content">
    <div class="container-register-meme">
        <h2>밈 등록 폼</h2>
        <div id="register-form-div">
            <form action="#" th:action="@{/submit}" method="post" th:object="${meme}" enctype="multipart/form-data">
                <div>
                    <input type="text" id="command" class="input-box" name="command" placeholder="커맨드를 입력하세요" required/>
                </div>
                <div>
                    <textarea id="description" name="description" class="input-box" placeholder="설명을 입력하세요" rows="4" cols="50"
                              required></textarea>
                </div>
                <div>
                    <input type="file" id="imageFile" class="input-button-box" name="파일 등록하기" accept="image/gif" required/>
                </div>
                <div id="register-form-div-button">
                    <button class="button button--ujarak button--border-medium button--round-s button--text-thin button--size-s">
                        제출
                    </button>
                    <!--                    <button type="submit">제출</button>-->
                </div>


            </form>
        </div>
    </div>
</th:block>
</html>